/* Powermail */
	/* Form */
span.powermail_mandatory {
	/* Color of mandatory error message */
	color: red;
}
fieldset.tx-powermail-pi1_fieldset {
	/* Fieldset */
}
fieldset.tx-powermail-pi1_fieldset legend {
	/* legend of Fieldset */
	font-weight: bold;
	color: black;
	display: none;
}
fieldset.tx-powermail-pi1_fieldset label,
fieldset.tx-powermail-pi1_fieldset fieldset legend {
	/* label */
	display: block;
	width: 12.500em;
	float: left;
    color:#ffffff;
    white-space:normal;
    margin-bottom: 0.3em;
}
fieldset.tx-powermail-pi1_fieldset input {
	margin-left:0;
}
fieldset.tx-powermail-pi1_fieldset input.powermail_text,
fieldset.tx-powermail-pi1_fieldset input.powermail_date,
fieldset.tx-powermail-pi1_fieldset input.powermail_datetime,
fieldset.tx-powermail-pi1_fieldset textarea.powermail_textarea,
fieldset.tx-powermail-pi1_fieldset input.powermail_captcha{
	/* Input and textarea */
	border: 1px solid #ccc;
	background: #f8f8f8 none;
	-moz-box-shadow: 0px 0px 5px #eee inset;
	-webkit-box-shadow: 0px 0px 5px #eee inset;
	box-shadow: 0px 0px 5px #eee inset;
    padding: 0.125em;
	width:300px;
}
fieldset.tx-powermail-pi1_fieldset input.powermail_text {
	margin-left:0;
	height: 23px;
}
fieldset.tx-powermail-pi1_fieldset input.powermail_time,
fieldset.tx-powermail-pi1_fieldset input[type=time]{
    width:3.750em;
}


fieldset.tx-powermail-pi1_fieldset textarea:focus,
fieldset.tx-powermail-pi1_fieldset input:not([type="submit"]):focus {
	background:#fff none;
	border:0.063em solid #333;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
fieldset.tx-powermail-pi1_fieldset div.tx_powermail_pi1_fieldwrap_html_radio input.powermail_radio {
	/* Radiobuttons */
	margin: 0.188em 0;
}
div.tx_powermail_pi1_fieldwrap_html {
	/* DIV container arround every field */
	margin: 0 0 1em 0;
	clear:both;
}
fieldset.tx-powermail-pi1_fieldset input.powermail_submit {
	/* submit button */
	margin: 0 0 10px 158px;
	padding-left: 10px;
	background: transparent url('/fileadmin/braille.at/img/arrow_nachricht_senden.png') no-repeat 0 0.313em;
	font-family: 'Oxygen', serif;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	border: 0;
	text-decoration: underline;
	cursor: pointer;
}
p.tx_powermail_pi1_fieldwrap_html_checkbox_title,
p.tx_powermail_pi1_fieldwrap_html_radio_title {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
div.countryzone {
	margin: 0.625em 0 0 12.500em;
}
div.tx_powermail_pi1_fieldwrap_html label a,
div.tx_powermail_pi1_fieldwrap_html p a,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_checkbox_title a,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_radio_title a{
	/* Description */
	cursor: help;
	text-decoration: none;
}
div.tx_powermail_pi1_fieldwrap_html label a dfn,
div.tx_powermail_pi1_fieldwrap_html p a dfn,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_checkbox_title a dfn,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_radio_title a dfn{
	/* Description */
	display: none;
	text-decoration: none;
    position:absolute;
    z-index:1;
    width: auto;
    padding:0.188em 0.625em 0.313em 0.625em;
    background-color:#00559E;
    border:0.063em solid #00559E;
    font-size:0.688em;
    color:#fff;
    white-space: normal;
    /* CSS3 spicing for mozilla and webkit */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0px 0px 6px #ddd;
    -webkit-box-shadow:0px 0px 6px #ddd;
    box-shadow:0px 0px 6px #ddd;
}
div.tx_powermail_pi1_fieldwrap_html label a:hover dfn,
div.tx_powermail_pi1_fieldwrap_html p a:hover dfn,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_checkbox_title a:hover dfn,
div.tx_powermail_pi1_fieldwrap_html fieldset legend.tx_powermail_pi1_fieldwrap_html_radio_title a:hover dfn{
	/* Description on mouseover */
	display: block;
}
div.tx_powermail_pi1_fieldwrap_html img.icon_info {
	/* Description icon */
	padding: 0.125em 0.125em 0 0.125em;
}
fieldset.tx-powermail-pi1_fieldset div.even {
}


	/* Confirmation */
td.powermail_all_td {
	padding: 0.188em 0.625em 0.188em 0;
}

	/* THX */
td.powermail_all p.bodytext {
	margin: 0;
}

fieldset.tx-powermail-pi1_fieldset fieldset {
	border: 0 none;
	padding: 0;
	margin: 0;
	position: relative;
}
fieldset.tx-powermail-pi1_fieldset fieldset legend {
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
}
.powermail_mandatory {
	color: #f00;
}
.placeholder {
    color:#999;
}

.powermail_mandatory_helper{visibility:hidden;height:0.063em;position:absolute;}
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner,
fieldset.tx-powermail-pi1_fieldset .powermail_radio_inner {
	margin-left: 12.500em;
	clear: both;
}
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner label,
fieldset.tx-powermail-pi1_fieldset .powermail_radio_inner label {
	float: none;
	width: auto;
	display: inline;
	font-weight: normal;
	margin-left: 0.438em;
}
fieldset.tx-powermail-pi1_fieldset .powermail_check_inner input,
fieldset.tx-powermail-pi1_fieldset .powermail_radio_inner input {
	float: left;
	position: relative;
	clear: left;
}

        /* Multiple JS */
div.fieldsets {
    clear: both;
}
div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset legend,
div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset.ui-tabs-hide{
    display:none;
}
div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset {
    padding-top:0.938em;
}
div.powermail_multiple_js fieldset.tx-powermail-pi1_fieldset fieldset legend {
    display:block;
}
ul.powermail_multiplejs_tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.powermail_multiplejs_tabs li {
    float: left;
    margin: 0 0.063em 0 0;
    padding: 0;
    list-style-type: none;
}
ul.powermail_multiplejs_tabs li a {
    display: block;
    padding: 0.313em 0.625em;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    background: #E0E0E0;
    -webkit-border-radius: 0.125em;
    -moz-border-radius: 0.125em;
    -khtml-border-radius: 0.125em;
    border-radius: 0.125em;
    border-top: 0.063em solid #ccc;
    border-left: 0.063em solid #ccc;
    border-right: 0.063em solid #ccc;
    outline: none;
}
ul.powermail_multiplejs_tabs li a.act {
    background: #F0F0F0;
    color: #333;
    padding:0.313em 0.625em 0.375em 0.625em;
    position:relative;
    margin-bottom:-0.063em
}

input.tx_powermail_pi1_submitmultiple_forward,
input.tx_powermail_pi1_submitmultiple_back {margin-top:1em;}

input.tx_powermail_pi1_submitmultiple_forward {
    float: right;
}

.powermail_multiple_php form > div.tx_powermail_pi1_fieldwrap_html_submit {
    display: inline;
    float: right;
    margin-top:1em;
}

/* error message */
.error {
	/* supply height to ensure consistent positioning for every browser */
	background-color:#FF0000;
	border:0.063em solid #FF0000;
	font-size:0.688em;
	color:#fff;
	padding:0.188em 0.625em 0.313em 0.625em;
	margin-left:-0.125em;
    z-index:10;
    text-align:left;
    height:auto;


	/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-moz-box-shadow:0px 0px 6px #ddd;
	-webkit-box-shadow:0px 0px 6px #ddd;
	box-shadow:0px 0px 6px #ddd;
}

.error p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

/* pure CSS arrow */
html:root .error em {
	display:block;
	width:0;
	height:0;
	border:0.625em solid;
	border-color:#FF0000 transparent transparent;

	/* positioning */
	position:absolute;
	bottom:-0.625em;
	left:0.313em;
	border-bottom:0 none;
}

/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* the input field */
.date {
	width: 14.813em !important;
}

/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:10000;
	
	margin-top:-0.063em;
	width:12.375em;
	padding:0.125em;
	background-color:#fff;
	font-size:0.688em;
	border:0.063em solid #ccc;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	-moz-box-shadow: 0px 0px 15px #666;
	-webkit-box-shadow: 0px 0px 15px #666;
	box-shadow: 0px 0px 15px #666;
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {	
	padding:0.125em 0;
	height:1.375em;
} 

#caltitle {
	font-size:0.875em;
	color:#FA8800;	
	float:left;
	text-align:center;
	width:9.688em;
	line-height:1.250em;
	text-shadow:0 0.063em 0 #ddd;
}

#calnext, #calprev {
	display:block;
	width:1.250em;
	height:1.250em;
	background:transparent url(../img/prev.gif) no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url(../img/next.gif);
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
#caltitle select {
	font-size:0.625em;	
}

/* names of the days */
#caldays {
	height:1.125em;
	border-bottom:0.063em solid #ddd;
}

#caldays span {
	display:block;
	float:left;
	width:1.750em;
	text-align:center;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top: 0.250em;
}

/* single week */
.calweek {
	clear:left;
	height:1.375em;
}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:1.688em;
	height:1.250em;
	text-decoration:none;
	font-size:0.688em;
	margin-left:0.063em;
	text-align:center;
	line-height:1.250em;
	color:#666;
	-moz-border-radius:0.188em;
	-webkit-border-radius:0.188em; 		
} 

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;		
}

/* offmonth day */
a.caloff {
	color:#ccc;		
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);		
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}

/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}

/* slider root element */
.slider { 
	background:#3C72E6 url(../img/h30.png) repeat-x 0 0; 
	height:0.563em; 
	position:relative; 
	cursor:pointer;
	border:0.063em solid #333;
	width:18.750em;
	float:left; 
	clear:right;
	margin-top:0.625em;
	-moz-border-radius:0.313em; 
	-webkit-border-radius:0.313em;
	border-radius:0.313em;
	-moz-box-shadow:inset 0 0 0.500em #000;
	box-shadow:inset 0 0 0.500em #000;
}

/* progress bar (enabled with progress: true) */
.progress {
	height:0.563em; 
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.handle { 
	background:#fff url(../img/h30.png) repeat-x 0 0; 
	height:1.750em;
	width:1.750em;
	top:-0.750em;
	position:absolute; 
	display:block; 
	margin-top:0.063em;
	border:0.063em solid #000;
	cursor:move;
	-moz-box-shadow:0 0 0.375em #000;
	-webkit-box-shadow:0 0 0.375em #000;
	box-shadow:0 0 0.375em #000;
	-moz-border-radius:0.875em;
	-webkit-border-radius:0.875em;
	border-radius:0.875em;
}

/* the input field */
fieldset.tx-powermail-pi1_fieldset input.powermail_text.range {
	float:left;
	margin:0 0 0 0.938em;
	padding:0.188em 0;
	text-align:center;
	width:3.125em;
}

