.ppt_opc #product_detail {
  background-color: rgba(245, 245, 245, 0.34);
  padding: 10px;
}

.row #wsd_checkout_form .row, #wsd_checkout_form .row, .product_price.mt16, .payment_interval_ids {
  max-width: 700px;
  margin: 0px auto;
}
#wsd_checkout_form {
  .text-danger {
    color: $bsvwred;
    font-family: 'Magra', serif;
    font-size: 1.2em;

  }
  .amount_title {
    display: none;
  }
}
body .oe_website_sale h4.payment_interval_ids {
  margin: 2em auto 30px;
}

#payment_method .tab-content {
  background-color: white;
  padding: 10px;
}