// GLOBAL VARIABLES
$bsvwyellow: #FFCC01;

.btn-primary {
  background: $bsvwyellow;
  background-color: $bsvwyellow;
  border: none;

  transition: background-color .3s;
}

// GLOBAL VARIABLES
$bsvwyellow: #FFCC01;

.btn-primary:hover {
    background: $bsvwyellow;
  }
.btn-primary:active {
    background-color: $bsvwyellow;
  }
.btn-primary:visited {
    background-color: $bsvwyellow;
  }
// Import Files
@import "fontfaces";
@import "website";
@import "website_checkoutform";
@import "website_menu";
@import "donationpage";