.btn-primary {
  background: #FFCC01;
  background-color: #FFCC01;
  border: none;
  transition: background-color .3s; }

.btn-primary:hover {
  background: #FFCC01; }

.btn-primary:active {
  background-color: #FFCC01; }

.btn-primary:visited {
  background-color: #FFCC01; }

/* latin-ext */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local("Bitter-Regular"), url(http://fonts.gstatic.com/s/bitter/v7/VyzH0eNzfhxMjuJ3chtK7H-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local("Bitter-Regular"), url(http://fonts.gstatic.com/s/bitter/v7/HEpP8tJXlWaYHimsnXgfCOvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 400;
  src: local("Magra"), url(http://fonts.gstatic.com/s/magra/v4/AcZ5oy5lFSDOaDRdF5XLe4DGDUGfDkXyfkzVDelzfFk.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 400;
  src: local("Magra"), url(http://fonts.gstatic.com/s/magra/v4/zQYEideR9pInJzQZsxxg-KCWcynf_cDxXwCLxiixG1c.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local("Oxygen"), local("Oxygen-Regular"), url(http://fonts.gstatic.com/s/oxygen/v5/LC4u_jU27qpsdszDEgeU_3-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local("Oxygen"), local("Oxygen-Regular"), url(http://fonts.gstatic.com/s/oxygen/v5/qBSyz106i5ud7wkBU-FrPevvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  line-height: 1;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

main {
  background-color: #f5f4f4; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Magra', serif;
  margin-bottom: 0.75em; }

h1 {
  font-size: 1.5em;
  color: black; }

h2 {
  font-size: 1.5em;
  color: black; }

h3 {
  font-size: 1.5em;
  color: black; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.125em;
  padding: 0;
  color: black; }

p {
  font-size: 1em;
  line-height: 1.518em;
  margin: 0 0 0.75em 0; }

a {
  color: #3f3f3f;
  text-decoration: underline; }
  a :hover {
    color: #ffffff;
    background-color: #3f3f3f;
    text-decoration: underline; }

.btn-primary {
  background: #3f3f3f !important;
  background-color: #3f3f3f !important t; }

/*
#main {
  background: transparent url('http://www.braille.at/fileadmin/braille.at/img/kacheln.jpg') top left !important;
}
*/
.container {
  width: 100%;
  max-width: 1440px; }

.parallax > div > div {
  display: initial; }

.panel-footer {
  background-color: rgba(245, 245, 245, 0); }
  .panel-footer img {
    height: 120px; }

h3.amount_title {
  text-align: center !important; }

#wsd-checkout-box .text-left {
  /*text-align: center;*/ }

#wsd_checkout_form .form-control-feedback {
  top: 18px !important; }

.fa-shopping-cart:before {
  content: "\00a0\f004\00a0"; }

#cart_products .glyphicon-remove:before {
  content: "\e020"; }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: transparent; }

.small_cart {
  max-width: 700px;
  margin: auto; }

h3.small_cart_header {
  max-width: 700px;
  margin: auto !important; }

#wsd_checkout_steps_header {
  display: none; }

.breadcrumb {
  background-color: #e8e8e8; }

.ppt_opc #product_detail {
  background-color: rgba(245, 245, 245, 0.34);
  padding: 10px; }

.row #wsd_checkout_form .row, #wsd_checkout_form .row, .product_price.mt16, .payment_interval_ids {
  max-width: 700px;
  margin: 0px auto; }

#wsd_checkout_form .text-danger {
  color: #db1921;
  font-family: 'Magra', serif;
  font-size: 1.2em; }
#wsd_checkout_form .amount_title {
  display: none; }

body .oe_website_sale h4.payment_interval_ids {
  margin: 2em auto 30px; }

#payment_method .tab-content {
  background-color: white;
  padding: 10px; }

header .navbar-default {
  background-color: transparent;
  border-color: transparent; }
header #top_menu.navbar-nav {
  /*background-color: transparent !important;*/
  color: #3c3c3c;
  text-decoration: none;
  font-size: 1.250em;
  text-transform: uppercase;
  font-family: 'Magra', serif;
  margin: 0.11em 0 0.15em 0;
  padding: 0.26em 0.938em 0.26em 0; }
header .nav a {
  text-transform: uppercase; }
header .nav a:hover {
  background-color: #3f3f3f !important;
  color: white !important; }
header .nav a:active {
  background-color: #3f3f3f !important;
  color: white !important; }
header .dropdown-menu a {
  text-transform: capitalize !important; }
header .dropdown-menu > li > a {
  font-size: 1.2em; }

footer {
  padding-top: 1.7em;
  width: 100%;
  min-height: 24.125em;
  background-color: #3f3f3f;
  color: #ffffff;
  font-family: 'Oxygen', serif;
  font-size: 0.875em;
  color: white; }
  footer a {
    color: white; }
  footer a:hover {
    background-color: #ffffff;
    color: #3f3f3f;
    text-decoration: none; }
  footer .col-md-4 {
    border-right: 1px solid #808080; }
  footer .col-md-4:last-child {
    border-right: none; }

#product_detail .panel-default {
  /*background-color: rgba(255, 255, 255, 0.6);*/ }

/*# sourceMappingURL=bsvw.css.map */
