/* --------------- */
/* BOOTSTRAP FIXES */
/* --------------- */

/* Media width fixes */
/* TODO: change and understand max container sizes: http://getbootstrap.com/customize/#container-sizes */
@media (min-width: 773px) {
    .container {
        width: 1155px;
        width: inherit;
    }
}
@media (min-width: 600px) {
    .container {
        width: 955px;
        width: inherit;
    }
}
@media (min-width: 500px) {
    .container {
        width: 735px;
        width: inherit;
    }
}
.row {
     margin-left: 0;
     margin-right: 0;
}


/* --------------- */
/* EXTENDED DESIGN */
/* --------------- */

/* Links */
a { text-decoration: underline; }
a:hover { background-color: #3f3f3f; }

/* Buttons */
.btn {
    text-decoration: none;
}

/* Headers */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
}

/* Bold Text */
b, strong {
    font-weight: normal;
}

/* Modal Box Trigger */
.btn-link.information-modal-box-trigger:hover {
    color: #db1921;
}

/* Nav-Tabs */
.nav_tabs>li {
    border: 1px #3f3f3f;
}
.nav_tabs > ul {
    border: 1px solid black;
    padding-bottom: 2px;
}
.nav>li>a:hover {
    background-color: #3f3f3f;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #fff;
}
.tab-content {
    background-color: #fff;
    padding-bottom: 2em;
}
.tab-pane { padding: 1em; }

/* jquery-validate control-icons (green arrow or red cross) */
#wsd_checkout_form .form-control-feedback {
    top: 24px !important;
}

/* Main Navigation: Navbar */
.navbar.navbar-static-top ul.nav > li.divider {
    height: 60px;
}
header a.navbar-brand img {
    margin-top: 36px;
}

/* Checkout Box */
.price_donate {
    margin-top: 1em;
}
#price_donate {
    color: inherit;
}

@media (min-width: 500px) {
    .form-inline .form-group {
        display: inherit;
    }
}

/* checkoutform
TODO Check ob diese Settings auch über BOOTSTRAP einstellbar sind
*/
#wsd_checkout_form .form-control {
    padding: auto;
}
.row .wsd_opc_delivery {
    display: none;
}

@media (max-width: 740px) {
.col-md-push-8 {
    left: initial;
}
.col-md-offset-1 {
    margin-left: initial;
}
#wsd_checkout_page_right_column {
    width: 100%;
    float:left;
}
#wsd_checkout_page_left_column {
    right: initial;
}
.col-md-8 {
    width: 100%;
}
/* Warenkorb*/
#right_column {
    display:none;
}
}
